body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main";
}
#netflix-full-logo{
    width: 100px;
    height: 100px;
}
